export AWS_PROFILE=argo-learning
export KUBECONFIG=./local_kube_config.yaml
export PATH=$PATH:~/go/bin
# export NAME=kops.jomo.click
# export KOPS_STATE_STORE=s3://kops-jomo-click-state-store
# export KOPS_STATE_STORE=s3://kops-jomo-click-state-store
# export CLOUD=aws
# export ZONE="us-east-1a"
# export MASTER_ZONES="us-east-1a"
# export NAME=kops.jomo.click
# export K8S_VERSION=1.6.4
# export NETWORKCIDR="10.240.0.0/16"
# export MASTER_SIZE="t3.medium"
# export WORKER_SIZE="t3.medium"
